In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Exercise 1: Getting & Knowing Your Data (chipo)

# Retrieve the dataset from this link and assign it to a variable â€˜chipoâ€™.

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [7]:
# Display the first 10 rows of â€˜chipoâ€™ using the head() function.
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
# Determine the total number of entries (rows) in â€˜chipoâ€™ using shape or info().

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
# Use shape or columns to find the total number of columns in â€˜chipoâ€™.
count = 0
for n in chipo.columns:
    count = count + 1

print(f'The total number of columns in chipo is: {count}')

The total number of columns in chipo is: 5

In [11]:
# Use columns to print all the column names.
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
# Utilize index to understand how the DataFrame is indexed.
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [19]:
# Use the value_counts() method on the â€˜item_nameâ€™ column to find the most ordered item.
chipo.value_counts('item_name').head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [22]:
# Find the total number of items ordered by summing the â€˜quantityâ€™ column.
chipo['quantity'].sum()

np.int64(4972)

In [23]:
# Use value_counts() on â€˜choice_descriptionâ€™ to find the most ordered item from this column.
chipo.value_counts('choice_description').head(1)

choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [24]:
# Convert â€˜item_priceâ€™ to a float datatype using apply() and lambda. (Hint: Youâ€™ll need to remove the â€˜$â€™ from the prices first)

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [26]:
# Calculate the total revenue for the dataset by summing the â€˜item_priceâ€™ column.
chipo['item_price'].sum()

np.float64(34500.16)

In [27]:
# Find the total number of orders by using the nunique() function on the â€˜order_idâ€™ column.
chipo['order_id'].nunique()

1834

In [29]:
# Compute the average order value by dividing the total revenue by the number of orders.

avg = chipo['item_price'].sum()/chipo['order_id'].nunique()
print(avg)

18.811428571428575

In [30]:
# Determine the total number of unique items sold using the nunique() function on the â€˜item_nameâ€™ column.
chipo['item_name'].nunique()

50

In [35]:
# ðŸŒŸExercise 2: Filtering & Sorting (chipo)

# Using conditional selection, find the count of products that cost more than $10. Note: the price is listed in the â€˜item_priceâ€™ column.

count = 0
for price in chipo['item_price']:
    if price > 10:
        count += 1

print(f'The number of products that cost more than $10 is: {count}')

The number of products that cost more than $10 is: 1130