In [6]:
import numpy as np
import pandas as pd

In [19]:

data1 = pd.DataFrame(
    data = {
    'ID' : [1, 2, 3],
    'Name' : ['Alice', 'Bob', 'Charlie'],
},
index = [1,2,3]
)

data1

   ID     Name
1   1    Alice
2   2      Bob
3   3  Charlie

In [20]:



data2 = pd.DataFrame(
    data = {
    'ID' : [4, 5, 6],
    'Name' : ['Andreina', 'Huda', 'Iris'],
},
index = [4,5,6]
)
data2

   ID      Name
4   4  Andreina
5   5      Huda
6   6      Iris

In [11]:
data = {
    'ID' : [1, 2, 3, 4, 5, 6],
    'Score' : [23, 45, 67, 45, 78, 90]
}

data3 = pd.DataFrame(data)

data3

   ID  Score
0   1     23
1   2     45
2   3     67
3   4     45
4   5     78
5   6     90

In [22]:
all_data_col = pd.concat([data1,data2])

all_data_col

   ID      Name
1   1     Alice
2   2       Bob
3   3   Charlie
4   4  Andreina
5   5      Huda
6   6      Iris